/*.log
/target
/*-init.clj
/resources/public/js
.rebel_redline_history
.idea
*.iml
.#*
.shadow-cljs
.cpcache
node_modules
.nrepl-port
out
re-gen.iml
/templates/project/*.log
/templates/project/target
/templates/project/*-init.clj
/templates/project/resources/public/js
/templates/project/resources/public/.rebel_redline_history
/templates/project/.idea
/templates/project/*.iml
/templates/project/.#*
/templates/project/.shadow-cljs
/templates/project/.cpcache
/templates/project/node_modules
/templates/project/.nrepl-port
/templates/project/out
/templates/project/re-gen.iml

